# git pull --recurse-submodules
# git submodule update --recursive --remote
[submodule "src/functions/php-saml"]
	path = src/functions/php-saml
	url = https://github.com/onelogin/php-saml.git
[submodule "src/functions/PHPMailer"]
	path = src/functions/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "src/app/login/captcha"]
	path = src/app/login/captcha
	url = https://github.com/dapphp/securimage.git
